@import "../../mixins";
@import "../../variables";

header {
    h1 {
        margin-top: 1rem;
        margin-left: 2rem;
    }
    width: 100%;
    nav {
        @include d-flex(row, space-between, center);
        background-color: $main-color;
        padding: 2rem;
        border-top: 2px solid $third-color;
        border-bottom: 2px solid $third-color;
        margin-top: 1rem;

      ul {
        @include d-flex(row, flex-start, flex-start);
        list-style: none;

        li {
          margin-right: 1rem;
          cursor: pointer;
          user-select: none;
          font-size: large;

          .line {
            background-color: $secondary-color;
            width: 0;
            height: 3px;
            border-radius: 1rem;
            margin-left: auto;
            margin-right: auto;
            transition: 0.3s;
          }
        }

        li:hover {
          .line {
            width: 100%;
          }
        }

        li:last-child {
            margin-right: 0;
        }
      }
    }
  }